@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.empty {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border: 2px solid black;
}

.fill {
    height: 100%;
    width: 100%;
    background-image: url(https://t2.genius.com/unsafe/902x0/https%3A%2F%2Fimages.genius.com%2Ff4daff29a000bf818c5e53355c12d672.1000x1000x1.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border: dashed 3px beige;
}

.hide { 
    display: none;
}